<!-- app/templates/database/edit_user.html -->
{% extends "base.html" %}

{% block content %}
<h2>{{ _('Редактировать запись о пользователе') }}</h2>

<form method="POST" action="{{ url_for('database.edit_record', table='users', id=user.id) }}">
    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
    <div class="mb-3">
        <label for="username" class="form-label">{{ _('Имя пользователя') }}</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">{{ _('Роль') }}</label>
        <select class="form-select" id="role" name="role">
            <option value="student" {{ 'selected' if user.role == 'student' }}>{{ _('Студент') }}</option>
            <option value="teacher" {{ 'selected' if user.role == 'teacher' }}>{{ _('Преподаватель') }}</option>
            <option value="admin" {{ 'selected' if user.role == 'admin' }}>{{ _('Администратор') }}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="language" class="form-label">{{ _('Язык') }}</label>
        <select class="form-select" id="language" name="language">
            <option value="ru" {{ 'selected' if user.language == 'ru' }}>Русский</option>
            <option value="en" {{ 'selected' if user.language == 'en' }}>English</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="theme" class="form-label">{{ _('Тема') }}</label>
        <input type="text" class="form-control" id="theme" name="theme" value="{{ user.theme }}">
    </div>
    <div class="mb-3">
        <label for="theme" class="form-label">{{ _('Фамилия') }}</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
    </div>
    <div class="mb-3">
        <label for="theme" class="form-label">{{ _('Имя') }}</label>
        <input type="text" class="form-control" id="first_name" name="last_name" value="{{ user.last_name }}">
    </div>
    <div class="mb-3">
        <label for="theme" class="form-label">{{ _('Отчество') }}</label>
        <input type="text" class="form-control" id="first_name" name="middle_name" value="{{ user.middle_name }}">
    </div>
    <div class="mb-3">
        <label for="theme" class="form-label">{{ _('Номер группы') }}</label>
        <input type="text" class="form-control" id="first_name" name="group_number" value="{{ user.group_number }}">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">{{ _('Сохранить') }}</button>
        <a href="{{ url_for('database.users') }}" class="btn btn-secondary">{{ _('Отмена') }}</a>
    </div>
</form>
{% endblock %}